@import url("styles/header.css");
@import url(styles/banner.css);
@import url(styles/carrossel.css);
@import url(styles/topicos.css);
@import url(styles/ropade.css);


:root{
    --cor-de-fundo:#EBECEE;
    --branco:#FFFFFF;
    --laranja:#EB9B00;
    --degrade:linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --font-principal:"Poppins";
    --preto-card:#000000;
    --azul:#002F52;
    --azul-rodape:#326589;
    --font-secundaria:"Josefin Sans";

}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400px;
}